*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(99, 99, 99);
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgb(199, 140, 35);
  font-family: 'Poppins', sans-serif;
  border-bottom: 3px solid black;
  border-width: thin;
}
.logo{
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links a{
  color: rgb(223, 223, 223);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(223, 223, 223);
  margin: 5px;
  transition: all 0.3s ease;
}
@media only screen and (max-width:1200px){
  .nav-links{
    width: 55%;
  }
}

@media only screen and (max-width:768px){
  .nav-links{
    z-index: 9999;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(199, 140, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}
.nav-active{
  visibility: visible;
  opacity: 1;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

#i1, #i2, #i3, #i4, #i5{ display: none;}

.slide-container{
		margin: 0 auto;
		margin-top: 0px;
		position: relative;
		width: 65%;
		height: 0;
    border: 5px solid black;
    border-top: 0px;
    border-width: thin;
		padding-bottom: 30%;
	  user-select: none;
		background-color: #1c1c1c;
	}

	.slide-container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.slide-container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 8%;
		height: inherit;
		position: absolute;
		top:0;
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

  .next span{right:20px;}
	.prev span{left:20px;}

	label span{
		position: absolute;
		font-size: 90pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff;
	}

.slide-container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

@media screen and (max-width: 1200px){
	.slide-container{
		width: 85%;
		height: 0;
		padding-bottom: 40%;
	}
	label span { font-size: 60pt; }
	.prev, .next{
		width: 8%;
	}
	#nav_slide .dots{
		width: 16px;
		height: 16px;
	}
}

@media screen and (max-width: 685px){
	.slide-container{
		width: 100%;
		height: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
		padding-bottom: 55%;
    margin: 0;
   }
	}
	label span { font-size: 50pt; }
	.prev, .next{
		width: 8%;
	}
	#nav_slide .dots{
		width: 10px;
		height: 10px;
	}
  .next span{right:5px;}
  .prev span{left:5px;}
}
.about-container{

}
.about-text{
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: 'PT Serif', serif;
  letter-spacing: 5px;
  font-size: 48px;
}
p{
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  padding: 30px 120px 30px;
  margin: auto;
}
@media screen and (max-width: 685px){
  p{
    padding: 15px;
  }
}
